@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-story: "Story Script", cursive;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out;
}