
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Story+Script&display=swap');
@import "tailwindcss";

:root {
    --font-share: "Share Tech", sans-serif;
    --font-story: "Story Script", cursive;
}

@layer utilities {
  .font-share {
    font-family: "Share Tech", sans-serif;
}
.font-story {
  font-family: "Story Script", cursive;
}
}

@layer base {
  html.dark body {
    background-color: #030712;
    color: #f9fafb;
  }

  html.dark nav {
    background-color: #111827;
  }

  html.dark footer {
    background-color: #14532d;
  }
}
