
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Story+Script&display=swap');
@import "tailwindcss";

:root {
    --font-share: "Share Tech", sans-serif;
    --font-story: "Story Script", cursive;
}

@layer utilities {
  .font-share {
    font-family: "Share Tech", sans-serif;
}
.font-story {
  font-family: "Story Script", cursive;
}
}

body {
  background: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);
}